.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: azure;
}
.header,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background-color: rgb(186, 240, 240);
}
.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  &_heading {
    margin: 20px 0;
  }
}
.add_form {
  width: 500px;
}
.switch_form {
  display: flex;
  gap: 50px;
}
.form-check-label {
  font-weight: 600;
}
.list {
  margin: 0;
  padding: 0;
  &_item {
    display: flex;
    width: 500px;
    align-items: center;
    gap: 10px;
    position: relative;
    &_text {
      overflow: hidden;
      &_done {
        text-decoration: line-through;
      }
      flex-grow: 1;
      font-weight: 600;
      padding: 10px;
      margin: 0;
    }
    &_sticker {
      position: absolute;
      display: block;
      background-color: azure;
      text-align: center;
      width: 100px;
      height: 30px;
      border: 2px solid coral;
      top: 30%;
      left: 40%;
      color: coral;
      transform: rotate(366grad);
    }
  }
}
.btn_form {
  margin: 10px 0;
}
.btn_list {
  flex: 0 0 105px;
}
.input_form,
.ant-pagination-item,
.ant-pagination-item-link {
  border: 1px solid #ced4da;
  padding: 10px;
  margin: 0 10px 0 0;
  border-radius: 5px;
  font-weight: 600;
  &:focus {
    border: 1px solid #ced4da;
    outline: 3px solid #0d6dfd62;
  }
}
.list_item,
.add_form {
  border: 2px solid #ced4da;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px #ced4da;
  background-color: rgb(152, 195, 195);
  margin: 10px;
}
.ant-pagination {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 2px;
  &-disabled .ant-pagination-item-link {
    &:hover {
      background-color: rgb(191, 195, 195);
    }
  }
  &-disabled .ant-pagination-item-link .anticon {
    color: rgb(191, 195, 195);
  }
  &-item {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    &-active {
      outline: 3px solid #0d6dfd62;
      background-color: rgb(152, 195, 195);
    }
    &:hover {
      background-color: rgb(152, 195, 195);
    }
    &-link {
      width: 36px;
      height: 36px;
      border: none;
      display: flex;
      background-color: transparent;
      text-decoration: none;
      color: #212529;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: rgb(152, 195, 195);
      }
    }
  }
}
.anticon {
  display: block;
  &-double-right,
  &-double-left {
    display: none;
  }
}
.footer a {
  text-decoration: none;
  font-size: 1.5 rem;
  font-weight: 600;
  color: black;
}
